DATABRICKS_HOST=https://<your-workspace>.cloud.databricks.com
DATABRICKS_TOKEN=dapi<your-personal-access-token>
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW_PG_USER=
AIRFLOW_PG_PASSWORD=
AIRFLOW_PG_DB=
AIRFLOW_WWW_USER_USERNAME=
AIRFLOW_WWW_USER_PASSWORD=
GRAFANA_ADMIN_PASSWORD=
