# Python dependencies cho custom Airflow image.
# Provider này chỉ cho DatabricksSubmitRunOperator / DatabricksSqlOperator/ DatabricksNotebookOperator 
# apache-airflow-providers-databricks

kafka-python
databricks-sdk
python-dotenv
